version: "3.8"

services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb+srv://primekingskc_db_user:MsSIXNs9YA8Fc6X0@cluster0.v9gqwln.mongodb.net/
      - REDIS_URL=redis://redis-18368.c92.us-east-1-3.ec2.cloud.redislabs.com:18368
      - NODE_ENV=production
